:root {
    --rotacao: 360deg;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(var(--rotacao));
    }
}

.animacao {
    animation: girar 3s forwards;
}

main {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roleta {
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_roleta {
    position: absolute;
    z-index: 1;
}

.div_seta {
    position: absolute;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.seta_roleta {
    width: 50px;
}


@media (max-width: 1000px) {
    .roleta {
        width: 600px;
        height: 600px;
    }

    .div_seta {
        width: 595px;
        height: 595px;
    }
}