* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --rotacao: 360deg;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(var(--rotacao));
    }
}

.animacao {
    animation: girar 7s forwards;
}

main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roleta {
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_roleta {
    position: absolute;
    z-index: 1;
}

.div_seta {
    position: absolute;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.seta_roleta {
    width: 50px;
}


@media (max-width: 1000px) {
    .roleta {
        width: 600px;
        height: 600px;
    }

    .div_seta {
        width: 595px;
        height: 595px;
    }
}

.row {
    display: flex;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    background-color: #FAF9FF;
    width: 400px;
    height: 120px;
    margin-left: 10px;
    border-radius: 12px;
    cursor: pointer;
}

.participantes {
    padding: 5px;
    text-align: center;
    background-color: #FAF9FF;
    width: 400px;
    height: 700px;
    margin-left: 10px;
    border-radius: 5px;
    border-collapse: collapse;
}

#tabelaParticipantes {
    width: 100%;
    height: 90%;
}

#tabelaParticipantes > tr {
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
    align-items: center;
}

.tableteam {
    display: flex;
    padding: 5px;
    text-align: center;
    background-color: #FAF9FF;
    width: 400px;
    height: 300px;
    margin-left: 10px;
    border-radius: 5px;
    border-collapse: collapse;
}

thead th {
    width: 50%;
    border: 1px solid black;
    padding-bottom: 10px;
}

tbody tr {
    border: 1px solid black;
}

tr td{
    border: 1px solid black;
}

#teamRed {
    color: red;
    width: 50%;
    border: 1px solid black;
}

#teamBlue {
    color: blue;
    width: 50%;
    border: 1px solid black;
}



.imgbox {
    width: 88px;
    height: 88px;
    background-color: #E6E3F5;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size {
    width: 85%;
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

h2 {
    font-weight: bold;
}

.toggle-button {
    background-color: #FAF9FF;
    padding: 15px;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
    width: 400px;
    height: 120px;
    text-align: center;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 12px;
    cursor: pointer;
}

.toggle-button.active {
    background-color: #333;
    color: #fff;
}

#textarea-container {
    display: none;
    margin-top: 10px;
}

#textarea-container.active {
    display: block;
}

#textarea {
    margin-left: 10px;
    width: 400px;
    height: 250px;
    resize: vertical;
    border-radius: 12px;
}